.c-button{
  position: relative;
  &::before,&::after{
    content: "";
    position: absolute;
    width: .47rem;
    height: .1rem;
  }
  &::before{
    transform: rotate(55deg);
  }
  &::after{
    transform: rotate(-55deg);
  }
  
  //背景緑ボタン
  &--green{
    background-color: #97BA61;
    border: solid .1rem #97BA61;
    border-radius: .8rem;
    color: #fff;
    font-size: 1.7rem;
    transition: .3s;
    &:hover{
      background-color: #fff;
      color: #97BA61;
      &::before,&::after{
        background-color: #97BA61;
      }
    }
    &::before,&::after{
      right: 2rem;
      background-color: #fff;
    }
    &::before{
      top: 46%;
    }
    &::after{
      top: 55%;
    }
  }

  //新着情報リスト下ボタン
  &--clear{
    font-size: 1.9rem;
    &::before,&::after{
      right: -1rem;
      background-color: #3b3b3b;
      transition: .3s;
    }
    &::before{
      top: 40%;
    }
    &::after{
      top: 58%;
    }
    &:hover{
      color: #97BA61;
    }
    &:hover::before,
    &:hover::after{
      right: -2rem;
      background-color: #97BA61;
    }
  }
}