.l-header{
  width: 100%;
  height: 10rem;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 6px 7px rgba($color: #000000, $alpha: 0.16);
  z-index: 999;
  &__logo{
    margin-left: 3rem;
    img{
      width: 17.5vw;
    }
  }
}